<h2>User info</h2>

<% if @user.errors.any? %>
  <ul>
    <%= @user.errors.count %>errors prohibited this obj from being saved:
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <div>Name</div>
  <div><%= f.text_field :name %></div>
  <div><%= f.attachment_field :profile_image %></div>
  <div>Introduction</div>
  <div><%= f.text_area :introduction %></div>
  <div><%= f.submit 'Update User' %></div>
<% end %>


